<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/front-end/public/imagesGlobal/logo principal2.png" type="image/png">
  <title>Pedidos</title>
  <link rel="stylesheet" href="/front-end/src/assets/MenuEmpleados.css">

</head>

<body>
  <header>
    <div class="menu container">
      <img class="logo-1" src="/inicio/images/logoprincipal.jpeg" alt="" />
      <input type="checkbox" id="menu" />
      <label for="menu">
        <img src="images/menu.png" class="menu-icono" alt="" />
      </label>
      <!-- barra de navegacion -->
      <nav class="navbar">
        <img class="logo-2" src="/front-end/public/imagesProductos/logoprincipal.jpeg" alt="" />
        <div class="menu-1">
          <ul>
            <li><a href="/front-end/index.html">PAGINA PRINCIPAL</a></li>
            <li><a href="/front-end/src/views/MenuEmpleado.html">PEDIDOS</a></li>
          </ul>
        </div>
      </nav>
  </header>
  <!-- Aqui finaliza la barra superior -->

  

 


</body>

</html>