.carrito-panel {
    position: fixed;
    margin-left: -5%;
    top: 20%;
    left: 50%; /* o cámbialo por left: 50%; transform: translateX(50%) para centrarlo */
    width: 25%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: none; /* OCULTO al inicio */
  }
  .BotonPedido{
    border-radius: 30px; /* más redondeado */
    border: 2px solid #ffd700; /* borde dorado o cambia el color si quieres */
    margin-top: 5%;
    margin-left: 30%;
    padding: 2% 3%;
    color: white;
    background-color: #000;
    font-size: 90%;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease; /* animación suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* sombra suave */
  }
  
.BotonPedido:hover {
  background-color: #ffd700; /* al pasar el mouse, cambia a dorado */
  color: black;
 
}
  
  .cerrar-carrito {
    margin-left: -20%;
    margin-top: -11%;
    color: #000000;
    float: right;
    font-size: 24px;
    cursor: pointer;
  }
  
  .cerrar-carrito:hover {
    color: #474747;
  }